*egg-info*
*pycache*
data/raw/spectra/HIRES/
*ipynb_check*
paper/*aux
paper/*bbl
paper/*blg
paper/*log
paper/*out
paper/*synctex.gz
results/HIRES_OBSERVING_SCRIPTS/
data/interim/cache/
doc/20220731_22b_hires_targets.txt
data/interim/Li_EW_HIRES*
doc/22b_hires_quicklook/
doc/20220902_hires_selection.txt
sandbox/abstract*
drivers/*v0.py
results/prot_vs_teff/*pdf
results/fit_gyro_model/*csv
*aux
*.log
*.out
*.synctex.gz
results/age_posteriors_nan_limit/
results/fit_gyro_model/
results/gaia_dr3_hack/
*secret*
sandbox/*pdf
sandbox/*csv
results/koi_lithium_posteriors_20230116/
results/koi_gyro_X_lithium_posteriors_20230116/
results/koi_gyro_X_lithium_posteriors*
results/koi_lithium_posteriors*
results/koi_gyro_posteriors_20230208/
results/rp_agebins_KS_test/
gyrojohann/data/interim/Li_EW_HIRES_all/
doc*
results*
